<!DOCTYPE html>
<html>

<head>

<title>Live Road Assessment Map</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"
/>

<style>

body{
margin:0;
padding:0;
}

#map{
height:100vh;
width:100%;
}

</style>

</head>

<body>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

// =======================================
// CREATE MAP
// =======================================

let map = L.map('map').setView([9.9676839,76.3298908],15);

L.tileLayer(
'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
{
maxZoom:19
}
).addTo(map);


// =======================================
// VARIABLES
// =======================================

let markers = [];

let currentMarker = null;


// =======================================
// LOAD ALL ROAD MARKERS
// =======================================

function loadRoadData(){

fetch("/map_history")

.then(response=>response.json())

.then(data=>{

console.log(data);

// Remove previous history markers

markers.forEach(marker=>{

map.removeLayer(marker);

});

markers=[];

if(data.length==0){

return;

}

// Draw all road points

data.forEach(point=>{

let color="green";

if(point.health_score<70){

color="red";

}

else if(point.health_score<85){

color="orange";

}

let marker=L.circleMarker(

[point.latitude,point.longitude],

{

radius:8,

color:color,

fillColor:color,

fillOpacity:0.8

}

).addTo(map);


marker.bindPopup(

`

<b>Road:</b> ${point.road_name || "Unknown"}

<br>

<b>Area:</b> ${point.area || "Unknown"}

<br>

<b>City:</b> ${point.city || "Unknown"}

<br>

<b>Status:</b> ${point.road_health}

<br>

<b>Health Score:</b> ${point.health_score}

<br>

<b>Vibration:</b> ${point.vibration}

<br>

<b>Speed:</b> ${point.speed}

<br>

<b>Time:</b> ${point.timestamp}

`

);

markers.push(marker);

});

});

}



// =======================================
// LIVE VEHICLE LOCATION
// =======================================

function updateCurrentLocation(){

fetch("/latest_location")

.then(response=>response.json())

.then(point=>{

if(!point.latitude){

return;

}

let lat=point.latitude;

let lon=point.longitude;


// First time create marker

if(currentMarker==null){

currentMarker=L.marker([lat,lon]).addTo(map);

}


// Move marker

currentMarker.setLatLng([lat,lon]);


// Follow vehicle

map.setView([lat,lon],16);


// Popup

currentMarker.bindPopup(

`

<b>🚗 Current Vehicle</b>

<br><br>

<b>Road:</b> ${point.road_name}

<br>

<b>Area:</b> ${point.area}

<br>

<b>City:</b> ${point.city}

<br>

<b>Status:</b> ${point.road_health}

<br>

<b>Health Score:</b> ${point.health_score}

<br>

<b>Vibration:</b> ${point.vibration}

<br>

<b>Speed:</b> ${point.speed}

<br>

<b>Time:</b> ${point.timestamp}

`

);

});

}



// =======================================
// INITIAL LOAD
// =======================================

loadRoadData();

updateCurrentLocation();



// =======================================
// AUTO REFRESH
// =======================================

setInterval(function(){

loadRoadData();

updateCurrentLocation();

},5000);

</script>

</body>

</html>