<!DOCTYPE html>

<html>

<head>

<title>
Road Health Map
</title>


<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


<style>

#map{

height:600px;

width:100%;

border-radius:15px;

}


.legend{

background:white;

padding:15px;

margin-top:20px;

border-radius:10px;

box-shadow:0 4px 10px #ccc;

}

</style>


</head>



<body>


<div class="container">


<h1>
🗺 AI Road Health Monitoring Map
</h1>


<div id="map"></div>



<div class="legend">

<p>🟢 Healthy Road</p>

<p>🔴 Damaged Road</p>

<p>🟡 Moderate Road</p>

</div>



</div>





<script>


let map;



function initMap(){


map = new google.maps.Map(

document.getElementById("map"),

{

zoom:16,


center:{

lat:9.9677,

lng:76.3299

}

}

);



loadMarkers();


}





function loadMarkers(){


fetch("/map_data")


.then(response=>response.json())


.then(data=>{


console.log(data);



data.forEach(point=>{



// Ignore invalid GPS

if(point.latitude == null || point.longitude == null)

{

return;

}




let color;



// Select marker colour


if(

(point.prediction && point.prediction.includes("Damaged"))

||

(point.ai_prediction && point.ai_prediction.includes("Damaged"))

||

(point.severity=="High")

||

(point.severity=="Very High")

)

{

color="red";

}


else if(point.severity=="Moderate")

{

color="yellow";

}


else

{

color="green";

}



let marker = new google.maps.Marker({


position:{

lat:Number(point.latitude),

lng:Number(point.longitude)

},


map:map,


icon:

{

url:

"https://maps.google.com/mapfiles/ms/icons/"+color+"-dot.png"

},



title:

point.prediction



});





let infoWindow = new google.maps.InfoWindow({


content:


`

<h3>
Road Assessment
</h3>


<p>
<b>Prediction:</b>
${point.prediction || "Sensor Data"}

</p>


<p>
<b>Health:</b>
${point.road_health || "Unknown"}

</p>


<p>
<b>Severity:</b>
${point.severity || "None"}

</p>



`

});





marker.addListener(

"click",

()=>{


infoWindow.open(

map,

marker

);


}

);



});



})


.catch(error=>{

console.log(error);

});


}




</script>





<script async

src="https://maps.googleapis.com/maps/api/js?callback=initMap">

</script>


</body>


</html>